/* vis container grid layout begin */
.vis-container {
  margin: 1%;
  display: grid;
  grid-template-rows: 30vh 60vh;
  grid-template-columns: 20vw 15vw 15vw 15vw 15vw 15vw;
  /* TODO: Responsive support */
  grid-template-areas:
    "control control player0 player0 player1 player1"
    "canvas  canvas  canvas  graph   graph   graph";
}

.vis-container>div {
  padding: 5%;
}

.control-box {
  grid-area: control;
}

.player0-box {
  grid-area: player0;
}

.player1-box {
  grid-area: player1;
}

.canvas-box {
  grid-area: canvas;
}

.graph-box {
  grid-area: graph;
}

#clusteringBox > label {
  padding: 0 2% 0 0;
}